.feedcontainer{
    background-color: white;
    height: 78vh;
    width: 43vw;
    margin-bottom: 1rem;
    margin-left: 4.5rem;
    border-radius: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.caption{
    padding-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2rem;
    line-height: 1.5rem;
    word-spacing: 0.4rem;
}
.card{
    margin:auto;
    background-image: url('../../../Assets/Mountain.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    width: 98%;
    height: 65%;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: aqua;
}
.AvatarCircle{
    height: 2.5rem;
    width: 2.5rem;
    background-color: greenyellow;
    border-radius: 1.25rem;
    border: 1px solid rgb(210, 206, 206);
}
.feeds::-webkit-scrollbar{
    display: none;
}
.addpostbutton{
    width: 43vw;
    height: 10vh;
    background-color: white;
    margin-left: 4.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shortscontainer::-webkit-scrollbar{
    display: none;
}